<!DOCTYPE html>
<html>
    <head>
        <title>Tic tac toe</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<style>
	   body {
	      background-color: #F2B32C;
	   }
	</style>
    </head>
    <body>
        <div class="row">
	    <div class="col-md-2"></div>
	    <div class="col-md-8">
		    <div class="text-center">
			<h1 class="jumbotron">Tic tac toe!</h1>
			#parse( $template )
		    
		    </div>
	    </div>
	    <div class="col-md-2"></div>
	</div>
    </body>
</html>
