<applet archive="TicTacToe.jar" codebase="http://checkthelunch.ekbjarnason.com/data/data/" code="is.ru.tictactoe.GameApplet.class" width=400 height=500></applet>

<p>Tic tac toe is a game that is nice to play once in a while, if you don't know this... Play this!</p>
